:root {
  font-family: 'InterVariable';
  font-feature-settings: "cv11" 1;
  --accent: #1C943F;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable;
  }
}
html{
  background-color: #F8F8F8;
}
body{
  margin: 0px;
  padding: 4px 21px;
}
input, select, textarea, button {
  font-family: 'InterVariable';
  font-feature-settings: 'cv11' 1;
  font-optical-sizing: 24;
}
.logo{
  margin-top: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
}

h1{
  margin-top: 4px;
  font-size: 28px;
  letter-spacing: -0.5px;
  text-align: center;
}
.icon{
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}
.bar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 18px;
  margin-bottom: 17px;
  background: linear-gradient(0deg, #f8f8f800, #F8F8F8);
  padding: 0px 0px;
  position: sticky;
  z-index: 1000;
  top: 0px;
  align-items: center;
}
.circle{
  background-color: #ffffff;
  width: 56px;
  height:56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  flex-basis: 56px;
  background-color: #ffffffd4;
  backdrop-filter: blur(5px);
}
.seleccion {
  display: flex;
  align-items: center;
  background-color: #ffffffd4;
  backdrop-filter: blur(5px);
  border-radius: 50px;
  height: 56px;
  flex-grow: 1;
  max-width: 400px;
  min-width: 0;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.007);
}
.celda {
  text-decoration: none;
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  height: auto;
  padding: 21px;
  -webkit-tap-highlight-color: #0000000e;
  justify-content: space-between;
} 
.cecy {
  width: 34px;
  height: 34px;
  margin: -12px 0px;
}
.label{
  margin-left: 15px;
  font-weight: 540;
  font-size: 17px;
  color: black;
}
.conjunto{
  display: flex; 
}
.search {
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
  height: 56px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  font-size: 18px;
  caret-color: #5a5a5a;
  padding: 0px;
  padding-right: 26px;
  box-sizing: border-box;
  letter-spacing: -0.1px;
  font-weight: 430;
  color: black;
  align-items: center;
}
.search-icon {
  margin: 0px 10px 0px 18px;
  opacity: 0.5;
  width: 22px;
  height:22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
}
.anuncio-view{
  background-color: #fff;
  padding: 22px 27px;
  border-radius:32px;
  display: flex;
  flex-direction: column;
  gap:10px;
  text-decoration: none;
  margin-bottom: 18px;
  -webkit-tap-highlight-color: #0000000c;
}
.titulo{
  font-weight: 600 ;
  font-size: 18px;
  color: black;
}
.contenido{
  line-height: 24px;
  font-size: 17px;
  color: #585858;
  display: -webkit-box; 
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.date{
  color: #ABABAB;
}
.heading{
  font-size: 22px;
  font-weight: 600;
  margin: 27px 15px 15px 15px;
}