:root {
  font-family: 'InterVariable';
  font-feature-settings: "cv11" 1;
  font-optical-sizing: 21px;
  --accent: #1C943F;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable;
  }
}
html{
  background-color: #F8F8F8;
}
body{
  margin: 0px;
  padding: 0px 22px;
  opacity: 0;
  animation: fadeIn .3s forwards;
}
@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.form{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.campo{
  font-size: 17px;
  font-weight: 430;
  background-color: transparent;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
input, select, textarea, button {
  font-family: 'InterVariable';
  font-feature-settings: 'cv11' 1;
  font-optical-sizing: 24;
}

select{
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  font-size: 17px;
  height: 100%;
  border: none;
  outline: none;
  font-weight: 430;
  letter-spacing: -0.1px;
  color: #000000;
  width: 100%;
  transition: 300ms;
}
select:focus{
  color: #818181;
  transition: 300ms;
}
.seleccion{
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 0px;
  gap: 14px;
  height: 72px;
  width: 100%;
}
.logo{
  margin-top: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.scrolled{
  opacity: 0;
}
h1{
  margin-top: 4px;
  font-size: 28px;
  letter-spacing: -0.5px;
  text-align: center;
}
.icon{
  margin-left: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}
.linking{
  margin-left: 20px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  padding: 0px;
  -webkit-tap-highlight-color: transparent;
  color:#1C943F;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: -0.2px;
  position: fixed;
  bottom: 124px;
}
.bar{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 18px;
  margin-bottom: 17px;
  background: linear-gradient(0deg, #f8f8f800, #F8F8F8);
  padding: 4px 0px;
  position: sticky;
  z-index: 1000;
  top: 0px;
  align-items: center;
}
.circle{
  background-color: #ffffff00;
  backdrop-filter: blur(3px) brightness(1.2);
  width: 56px;
  height:56px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  flex-shrink: 0;
  flex-basis: 56px;
  border: none;
  outline: none;
}
.shadow-circle{
  border-radius: 40px;
  box-shadow: inset 0px 0px 3px 3px #0000004b;
}
.subtitle{
  font-size: 17px;
  font-weight: 570;
  letter-spacing: -0.15px;
  transition: 300ms;
}
.pfp{
  background-color: #ffffffc7;
  width: 94px;
  height:94px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}
.changepfp{
  background-color: #ffffff;
  width: 34px;
  height:34px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  position: absolute;
  bottom: -10px;
  right: -2px;
  border: none;
  cursor: pointer;
}
.center{
  display: flex;
  width: 100%;
  justify-content: center;
}
.contenedor {
  position: relative;
  width: 94px;
  margin-bottom: 35px;
}
.list{
  border-radius: 28px;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  margin-top: 38px;
  background-color: white;
  color: #1C943F;
  font-weight: 500;
  font-size: 17px;
  letter-spacing: -0.1px;
  gap: 18px;
}
.itemlist{
  display: flex;
  align-items: center;
  gap: 16px;
  -webkit-tap-highlight-color: #0000001a;
}
.symbol{
  display: flex;
  align-items: center;
  justify-items: center;
}
.label{
  margin: 15px;
  font-weight: 500;
  font-size: 18px;
}
.gap{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.actions{
  display: flex;
  gap: 12px;
}
.big-title{
  font-weight: 700;
  font-size: 32px;
  margin: 15px;
  margin-bottom: 28px;
}
.anuncio-title{
  background-color: #ffffff;
  border-radius: 24px;
  padding: 0px 26px;
  height: 72px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 17px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-weight: 480;
  letter-spacing: -0.2px;
  caret-color:#1C943F;
}
.anuncio-content{
  background-color: #ffffff;
  border-radius: 24px;
  padding: 24px 26px;
  height: 300px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 17px;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-weight: 480;
  letter-spacing: -0.2px;
  caret-color:#1C943F;
  margin-bottom: 200px;
}
.cecyte{
  width: 42px;
  height: 42px;
}
.big-symbol{
  width: 40px;
  height: 40px;
  margin: 40px 0 30px 0;
}
.heading{
  font-weight: 700;
  letter-spacing: -0.8px;
  font-size: 30px;
  position:relative; 
  top:0;
  width: 100%;
  text-align: center;
  font-optical-sizing: none;
}
.button {
  appearance: none;
  outline: none;
  border: none;
  width: calc(100% - 32px);
  max-width: 600px; 
  height: 72px;
  color: white;
  background-color: #1C943F;
  border-radius: 24px;
  background-size: 100% 100%;      
  font-weight: 550;
  font-size: 18px;
  letter-spacing: -0.1px;
  position: fixed;
  bottom: 32px;
  left: 50%;  
  transform: translateX(-50%);
}
.centrador{
  width:100%;
  display: flex;
  justify-content: center;
}
.descripcion{
  display: flex;
  justify-content: center;
  text-align: center;
  color: #595959;
  font-size: 16px;
  width: 300px;
  margin: 10px 0px 40px 0px;
  letter-spacing: -0.1px;
}
.contraseña{
  padding: 24px 20px;
  font-size: 22px;
  text-align: center;
  border:none;
  outline: none;
  background-color: #ffffff;
  border-radius: 28px;
  -webkit-tap-highlight-color: #00000000;
  caret-color: #1C943F;
  font-weight: 450;
  box-shadow: 0px 0px 16px 2px #00000000;
}
.help {
  outline: none;
  border: none;
  width: 300px;
  border-radius: 24px;      
  font-weight: 410;
  font-size: 15px;
  color: #999999;
  letter-spacing: -0.1px;
  position: fixed;
  bottom: 128px;
  left: 50%;  
  text-align: center;
  transform: translateX(-50%);
}