:root {
  font-family: 'InterVariable';
  font-feature-settings: "cv11" 1;
  --accent: #1C943F;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: Inter;
  }
}
body{
  background-color: white;
  margin: 0px;
  padding: 0px 22px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.campo{
  font-size: 17px;
  font-weight: 430;
  background-color: transparent;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}
input, select, textarea, button {
  font-family: 'InterVariable';
  font-feature-settings: 'cv11' 1;
  font-optical-sizing: 24;
}

select{
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  font-size: 17px;
  height: 100%;
  border: none;
  outline: none;
  font-weight: 430;
  letter-spacing: -0.1px;
  color: #000000;
  width: 100%;
  transition: 300ms;
}
select:focus{
  color: #818181;
  transition: 300ms;
}
.seleccion{
  display: flex;
  align-items: center;
  background-color: #F8F8F8;
  border-radius: 24px;
  padding: 0px;
  gap: 14px;
  height: 72px;
  width: 100%;
}
.logo{
  margin-top: 44px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.cecyte-big{
  width: 72px;
  height: 72px;
}
h1{
  margin-top: 4px;
  font-size: 28px;
  letter-spacing: -0.5px;
  text-align: center;
}
.icon{
  margin-left: 24px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
}
.button {
  appearance: none;
  outline: none;
  border: none;
  width: calc(100% - 32px);
  max-width: 600px; 
  height: 72px;
  color: white;
  background-color: #1C943F;
  border-radius: 24px;
  background-size: 100% 100%;      
  font-weight: 550;
  font-size: 18px;
  letter-spacing: -0.1px;
  position: fixed;
  bottom: 16px;
  left: 50%;  
  transform: translateX(-50%);
}

